*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}
img{
    max-width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-inline: 100px;
    padding-top: 20px;
    align-items: center;
}
.right-nav{
    display: flex;
    align-items: center;
}
.right-nav p{
    padding-right: 20px;
}
.right-nav a{
    text-decoration: none;
    background-color: blue;
    color: white;
    width: 150px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.left-nav{
    font-weight: 600;
    font-size: 17px;
}
.learn{
    font-family: "Instrument Serif", serif;
    font-weight: 200;
    font-style: italic;
}
.master{
    font-size: 12px;
    background-color: rgb(202, 227, 236);
    border: 1px solid lightblue;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 90px;
    margin-bottom: 20px;
    color: grey;
}
.margin-auto{
    margin-inline: auto;
}
.section1{
    font-weight: 400;
    font-size: 40px;
    margin-top: 110px;
}
.section1 h1{
    max-width: 700px;
    margin-inline: auto;
}
.unlock-course {
    font-size: 15px;
    color: rgba(95, 115, 121, 0.664);
    max-width: 650px;
    margin-inline: auto;
    text-align: center;
    margin-top: 30px;
    line-height: 1.5;
}
.price{
    text-decoration: none;
    background-color: blue;
    color: white;
    width: fit-content;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 18px;
    margin-inline: auto;
    margin-top: 40px;
}
.price-cl{
    color: rgba(255, 255, 255, 0.75);
    background-color: blue;
    padding-left: 5px;
    text-decoration: line-through;
}
.payment{
    color: rgba(95, 115, 121, 0.664);
    font-size: 12px;
    text-align: center;
    padding-top: 20px;
}
.promo{
    background-color: rgb(221, 234, 238);
    border: 1px solid lightblue;
    padding: 7px 27px;
    border-radius: 5px;
    transform: rotate(-5deg);
    margin-block: 30px 100px;
    width: fit-content;
    font-size: 16px;
    font-weight: 500;
    margin-inline: auto;

}
.images{
    display: flex;
    max-width: 1078px;
    margin-inline: auto;
    gap: 9px;
}
.images img{
    max-width: 208px;
    border-radius: 7px 7px;
}
.shots{
    color: rgba(95, 115, 121, 0.664);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 15px 50px;
    font-weight: 500;
}
.learning{
    font-size: 35px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 50PX;
}
.photos{
    display: flex;
    color: rgb(60, 63, 65);
    max-width: 1082px;
    margin-inline: auto;
    gap: 10px;
}
.what-to-learn{
    margin-top: 20px;
}
.what-to-learn p{
    font-size: 14px;
    padding-top: 20px;
    margin-bottom: 50px;
}
.why-this-course{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    max-width: 1000px;
    margin-inline: auto;
    margin-bottom: 60PX;
}
.for-all-levels{
    margin-block: 10px;
    color: rgb(60, 63, 65); 
    display: block;

    
}
.for-all-levels h3{
    padding-block: 5px 10px;
}
.for-all-levels p{
    font-size: 13px;
}
.camera img{
   height: 100%;
   border-radius: 9px;
   max-width: 550PX;
}
.flex{
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap: 50px;
        max-width: 1000px;
        margin-inline: auto; 
        margin-bottom: 60PX;
        color: rgb(60, 63, 65);
        align-items: center;
}
.second-div img{
    border-radius: 10px;
    max-height: 500px;
    width: 100%;
}
.firdt-div h2{
    color: black;
    font-size: 30px;
    padding-bottom: 20px;
}
.get-started{
    text-align: center;
    font-size: 30px;
}
.photography{
    background-color: rgba(183, 220, 233, 0.432); 
    max-width: 1000px;
    margin-inline: auto;
    margin-block: 30px;
    padding-block: 50px;
    border-radius: 10px;
    border: 1px solid rgba(188, 214, 223, 0.473);
}
.Win{
    background-color: rgb(221, 234, 238);
    border: 1px solid lightblue;
    text-decoration: none;
    margin-block: 30px 100px;
    width: fit-content;
    font-size: 16px;
    font-weight: 500;
    margin-inline: auto;
    padding: 7px 35px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.section6{
    background-color: rgba(111, 124, 129, 0.432); 
    max-width: 1000px; 
    margin-inline: auto;
    border-radius: 10px;
    border: 1px solid rgba(188, 214, 223, 0.473);
    
}
.section6 img{
    transform: rotate(270deg);
    width: 400px;
    margin-inline: auto;
}
.buy{
    color: rgb(109, 109, 109);
    font-size: 15px;
    padding-bottom: 4px;
}
.new{
    color: blue;
    font-size: 19px;
    padding-bottom: 35px;
}
.won{
    font-size: 14px;
}
.nwy{
    text-align: center;
}
.value{
    padding-bottom: 20px;
    font-size: 13px;
    color: black;
}
.value2{
    font-size: 15px;
    color: rgb(60, 63, 65);
}
.modern{
    font-weight: 500;
    font-size: 14px;
}
.Lightroom{
    font-size: 14px;
    padding-block: 30px;
}
.firdt-div a{
    display: block;
    color: blue;
    font-size: 13px;
    line-height: 20px;
    text-decoration: none;
}
.hamburger{
    display: none;
}
.pack{
    padding-top: 20px;
    color: black;
}
.section5 p{
    text-align: center;
    font-size: 13px;
    color: rgb(60, 63, 65);
}
.section5 h2{
    text-align: center;
    font-size: 25px;
    padding-bottom: 30px;
}
.section5-images{
    display: grid;
    grid-template-columns: 5fr 5fr;
    padding-inline: 27px;
    gap: 15px;
    margin-block: 30px;
}
.section5 img{
    border-radius: 10px;
}
@media(max-width:809px){
    .learn{
        font-size: 35px;
        text-align: center;
    }
    .section1 h1{
        font-size: 35px;
        text-align: center;
        font-weight: 500;
    }
    .right-nav{
        display: none;
    }
    .hamburger{
        display: block;
    }
    nav{
        padding-inline: 20px;
    }
}